                <div class="msform flex flex-horizontal flex-vertical">
                    <h1><%= prenume %> <%= nume %></h1>
                    <div class="mask"></div>
                    <div class="list">
                        <p class="flex-row"><i class="material-icons">mail</i><span><%= email %></span></p>
                        <p class="flex-row"><i class="material-icons">phone</i><span> <%= nr_telefon %></span></p>
                    </div>
                </div>