        <script src="js/instascan.min.js" charset="utf-8"></script>
        <script src="js/dash.js" charset="utf-8"></script>
        <script src="js/qr.js" charset="utf-8"></script>
        <script src="js/menu.js" charset="utf-8"></script>
        <script src="js/pwa.js"></script>