                <div class="msform">
                    <h1>ADAUGĂ RUTĂ</h1>
                    <form class="" action="/routes" id="POST">
                        <input type="text" class="input-text" name="" value="" placeholder="NUME">
                        <input type="submit" class="msform-button full-width" value="Adaugă"></input>
                    </form>
                </div>