                <div class="msform">
                    <h1>MODIFICĂ RUTĂ</h1>
                    <form class="flex-vertical" action="/routes" id="PUT">
                        <select id="select-ruta">
                            <option></option>
                            <% for (let route of routes) { %>
                            <option value="<%= route.id %>"><%= route.nume %></option>
                            <% } %>
                        </select>
                        <input type="submit" class="msform-button full-width" id="modify-route" value="Modifică">
                    </form>
                </div>
                <div class="msform hide" id="div-vehicule-ruta">
                    <h1>ID VEHICULE RUTĂ</h1>
                    <form class="flex-vertical">
                        <select name="vehicule-ruta" id="vehicule-ruta" data-url="/qr?id=">
                        </select>
                        <input type="hidden" name="route-id" id="route-id" value="1">
                        <input type="button" class="msform-button full-width" data-url="/vehicle/routes" id="sterge-vehicule-ruta" value="Sterge">
                        <input type="button" class="msform-button full-width" data-url="/vehicle/routes" id="adauga-vehicule-ruta" value="Adaugă">
                    </form>
                </div>