        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/dropdown.js" charset="utf-8"></script>
        <script src="js/menu.js" charset="utf-8"></script>
        <script src="js/qrcode.min.js" charset="utf-8"></script>
        <script src="js/editRoutes.js" charset="utf-8"></script>
        <script src="js/pwa.js"></script>
        <script src="js/sweetalert.js"></script>