                <div class="msform" id="login-form">
                    <h1>AUTENTIFICARE</h1>
                    <form class="" action="/users/login" id="post">
                        <input type="text" class="input-text" name="username" value="" placeholder="Nume cont">
                        <input type="password" name="password" class="input-text" value="" placeholder="Parola">
                        <input type="submit" class="msform-button" id = "login-button" name="" value="Login">
                    </form>
                    <div class="links">
                        <button type = "button" class="ghost-button" onclick="formTransition('login-form','register-form');">Înregistrare</button> 
                        <!--<button type = "button" class = "ghost-button" onclick="formTransition('login-form','forgetpass-form');">Forgot your password?</button>-->
                    </div>
                </div>