        <script src="js/formtransition.js" charset="utf-8"></script>
        <script src="js/index.js" charset="utf-8"></script>
        <script src="js/forms.js" charset="utf-8"></script>
        <script src="js/pwa.js"></script>
        <script src="js/sweetalert.js"></script>