                <div class="msform">
                    <h1>Stare Curentă Utilizatori</h1>
                    <div class="table">
                        <table>
                            <tr>
                                <td>TIP ACCOUNT</td>
                                <td>NUMĂR</td>
                            </tr>
                            <tr>
                                <td>Client</td>
                                <td><%= nr_clienti %></td>
                            </tr>
                            <tr>
                                <td>Admin</td>
                                <td><%= nr_admini %></td>
                            </tr>
                            <tr>
                                <td>Șoferi</td>
                                <td><%= nr_soferi %></td>
                            </tr>
                        </table>
                    </div>
                </div>