<!DOCTYPE html>
<html lang="en">
	<%- include head %>
    <body>
		<%- include userheader %>
        <div class="content">
            <div class="left flex flex-horizontal">
				<%- include admindashboardejs/utilizatori %>
				<%- include admindashboardejs/adminmanager %>
            </div>
			<%- include admindashboardejs/chart %>
            </div>
        </div>
		
		<%- include admindashboardejs/scripts %>
    </body>
</html>
