<!DOCTYPE html>
<html lang="en">
	<%- include headwithol.ejs %>
    <body>
		<%- include userheader.ejs %>
        <div class="content">
            <div class="left flex flex-horizontal">
				<%- include dashboardejs/composteazabilete.ejs %>
				<%- include dashboardejs/cautatransport.ejs %>
            </div>
            <div class="right flex flex-horizontal">
                <%- include dashboardejs/harta.ejs %>
            </div>
        </div>
		<%- include dashboardejs/scripts.ejs %>
    </body>    
</html>