<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="theme-color" content="#52796F">
            <meta name="description" content="Un asistent web pentru transportul public în Iași."/>
            <title>AWTC</title>
            <link rel="manifest" href="manifest.json">
    
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="application-name" content="AWTCIași">
            <meta name="apple-mobile-web-app-title" content="AWTCIași">
            <meta name="theme-color" content="#51786e">
            <meta name="msapplication-navbutton-color" content="#51786e">
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
            <meta name="msapplication-starturl" content="/AWTCIasi/index.page">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
            <link rel="icon" type="image/png" sizes="144x144" href="res/logothree.png">
            <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="res/logothree.png">
            <link rel="icon" type="image/svg+xml" sizes="64x64" href="res/logothree.svg">
            <link rel="apple-touch-icon" type="image/svg+xml" sizes="64x64" href="res/logothree.svg">
            <link rel="icon" type="image/svg+xml" sizes="128x128" href="res/logothree.svg">
            <link rel="apple-touch-icon" type="image/svg+xml" sizes="128x128" href="res/logothree.svg">
            <link rel="icon" type="image/svg+xml" sizes="256x256" href="res/logothree.svg">
            <link rel="apple-touch-icon" type="image/svg+xml" sizes="256x256" href="res/logothree.svg">
            <link rel="icon" type="image/svg+xml" sizes="512x512" href="res/logothree.svg">
            <link rel="apple-touch-icon" type="image/svg+xml" sizes="512x512" href="res/logothree.svg">
            <link rel="icon" type="image/svg+xml" sizes="1024x1024" href="res/logothree.svg">
            <link rel="apple-touch-icon" type="image/svg+xml" sizes="1024x1024" href="res/logothree.svg">
            <link rel="icon" type="image/svg+xml" sizes="2048x2048" href="res/logothree.svg">
            <link rel="apple-touch-icon" type="image/svg+xml" sizes="2048x2048" href="res/logothree.svg">
            
            <link rel="stylesheet" type="text/css" href="css/back.css">
            <link rel="stylesheet" type="text/css" href="css/forms.css">
            <link rel="stylesheet" type="text/css" href="css/index.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                rel="stylesheet">
        </head>
    <body>
        <div class="content center-content">
                <div class="msform">
                    <h1>INCEPE CURSA</h1>
                    <form class="" action="/index.page" method="post">
                        <input type="submit" class="msform-button" name="" value="Incepe Cursa" id="use">
                    </form>
                </div>
        </div>
        </div>
		<script src="js/instascan.min.js" charset="utf-8"></script>
        <script src="js/qr.js" charset="utf-8"></script>
        <script src="js/menu.js" charset="utf-8"></script>
        <script src="js/pwa.js"></script>
    </body>    
</html>