        <div class="footer">
            <div>
                <a href="contact.html">Contact us</a>
                <a href="https://www.facebook.com">Facebook</a>
                <a href="https://www.twitter.com">Twitter</a>
            </div>
        </div>