<!DOCTYPE html>
<html>
	<%- include headwithol %>
    <body>
        <div class="content">
            <div class="left flex flex-vertical flex-horizontal">
                <div class="logo">
                    <span>AWTC</span>
                    <span>Iași</span>
                </div>
				<%- include indexejs/loginform %>
				<%- include indexejs/registerform %>
            </div>
            <div id="right" class="hideRight">
                <div class="tilt">
                </div>
            </div>
        </div>

        <%- include indexejs/scripts %>
    </body>
</html>
