                <div class="msform hide" id="forgetpass-form">
                    <h1>Forgot password</h1>
                    <form class="" action="/forgot" id="post">
                        <input type="text" class="input-text" name="email" value="" placeholder="E-mail">
                        <input type="submit" class="msform-button" name="" value="Send">
                    </form>
                    <button type = "button" class = "ghost-button" onclick="formTransition('forgetpass-form','login-form')">Have an account?</button> 
                </div>