                <div class="msform hide" id="register-form">
                    <h1>ÎNREGISTRARE</h1>
                    <form class="" action="/users" id="post">
                        <input type="text" class="input-text" name="username" value="" placeholder="Nume cont">
                        <input type="password" name="password" class="input-text" value="" placeholder="Parola">
                        <input type="password" name="confirmpassword" class="input-text" value="" placeholder="Confirmare parolă">
                        <input type="text" class="input-text" name="lastname" value="" placeholder="Nume">
                        <input type="text" class="input-text" name="firstname" value="" placeholder="Prenume">
                        <input type="number" class="input-text" name="age" value="" placeholder="Vârsta">
                        <input type="email" class="input-text" name="email" value="" placeholder="Email">
                        <input type="text" class="input-text" name="phone" value="" placeholder="Număr telefon">
                        <input type="submit" class="msform-button" name="" value="Înregistrează">
                    </form>
                    <button type="button" class="ghost-button" onclick="formTransition('register-form', 'login-form')">Aveţi deja un cont?</button> 
                </div>