@import url(https://fonts.googleapis.com/css?family=Montserrat);

.edit-route {
    height: 50vh !important;
}

.header {
    grid-column: span 2;
    overflow: hidden;
    width: 100%;
    min-height: 56px;
    background-color: #52796F;
    display: flex;
    align-items: center;
}

.header .logo {
    margin-left: 15px;
    width:110px;
}

.header .logo span {
    letter-spacing: -0.1em;
    font-weight: bolder;
    font-size: 1.6em;
    color: rgba(173,209,158, 0.92);
    display: inline-block;
}

.header .logo span:not(:first-child) {
    font-size: 0.8em;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-list {
    display: inline-block;
}

.menu-item {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    color: #FAFAFA;
    padding: 5px;
}
.menu-item.out{
    margin-right:15px;
}
.menu-item a {
    text-decoration: none;
    color: #FAFAFA;
}

.menu-item a:hover {
    text-decoration: underline;
}

.footer {
    padding: 0.5em;
    display: flex;
    align-items: center;
    grid-column: span 2;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
    /* height: 30px; */
    background-color: #889692;
    color: black;
    text-align: center;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
    color: #FAFAFA;
    position:relative;
}

.avatar{
    overflow:hidden;
    border-radius:100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    border:1px solid white;
    min-height: 128px;
    min-width: 128px;
}
.avatar img {
    width:100%;
}

.list span{
    margin-left:10px;
}

.input-block{
    margin-top:20px;
    margin-bottom:20px;
}

.input-block span{
    color:grey;
    font-size:13px;
}
.button-profile{
    padding-right:20%;
    padding-left:20%;
}

.right-form{
    background-color:#FAFAFA;
}
.drop{
    display:none;
    text-align:right;
    background-color:rgba(173,209,158, 0.92);
    padding:5px;
}
.table-tickets{
    height:46vh;
    overflow-y:scroll;
}
.none{
    display:none;
}

.content.center-content{
	display: flex;
    justify-content: center;
    align-items: center;
}

.content.center-content > .msform {
	width:60%;
}

#use.msform-button{
	height:4em;
}

.qr-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 600px) {

    .right{
        width:100vw;
    }
}

@media screen and (max-width:1000px){
    .drop{
        display:block;
        height:40px;
        width:100%;
        cursor:pointer;
    }
    .header{
        display:block;
    }
    .header .nav ul{
        overflow:hidden;
        background:#505050;
    }
    .menu{
        height:0;
    }
    .menu.open{
        height:auto;
    }

    .header .nav ul li{
        float:none;
        width:100%;
        margin:0;
        display:block;
    }

    .menu-item {
        display: block;
        text-align: center;
    }
    .menu{
        display:flex;
        justify-content: center;
    }
    .menu-list{
        padding:0;
    }
    .logo{
        text-align:center;
        margin:0;
        padding:5px;
    }
    .header .logo{
        width:auto;
    }

    .drop i{
        color:#FAFAFA;
    }

    .out{
        display:none;
    }

}