                <div class="msform flex-horizontal flex-vertical">
                    <h2>Feciuc Stelian</h2>
                    <ul class="list-contact">
                        <li><b>E-mail: </b><span>feciucstelian@gmail.com</span></li>
                        <li><b>Adresa: </b><span>Strada 12, Iasi</span></li>
                        <li><b>Număr telefon: </b><span>+40 (722) 222 222</span></li>
                    </ul>
                </div>