                <div class="msform">
                    <h1>CONTACT</h1>
                    <form id="contact-form" action="/contact" method="post">
                        <div class="input-block">
                            <p>Subiect</p>
                            <input type="text" name="subject" class="input-text" placeholder="Subiect">
                        </div>
                        <div class="input-block">
                            <p>Mesaj</p>
                            <input type="text" name="message" class="input-text" placeholder="Mesaj">
                        </div>
                        <input type="button" class="msform-button" onclick="postForm()" name="action" value="Trimite">
                    </form>
                </div>
                <script>
                    const formToJSON = elements => [].reduce.call(elements, (data, element) => {
                        data[element.name] = element.value;
                        return data;
                    }, {});

                    function postForm() {
                        var form = document.getElementById("contact-form");
                        var payload = formToJSON(form);
                        return new Promise((resolve, refuse) => {
                            fetch(`/contact`, {
                                method: "POST",
                                mode: "cors",
                                credentials: "same-origin",
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    payload
                                })
                            })
                                .then((response) => {
                                    return response.json();
                                })
                                .then((result) => {
                                    if (result.status >= 400) {
                                        Swal.fire({
                                            type: 'error',
                                            title: result.message,
                                            showConfirmButton: false,
                                            timer: 1200
                                        }); 
                                    } else {
                                        Swal.fire({
                                            type: 'success',
                                            title: result.message,
                                            showConfirmButton: false,
                                            timer: 1200
                                        }); 
                                    }
                                    resolve(result);
                                })
                                .catch((error) => {
                                    Swal.fire({
                                        type: 'error',
                                        title: error.message,
                                        showConfirmButton: false,
                                        timer: 1200
                                    }); 
                                    refuse(error);
                                });
                        })
                    }
                </script>