<!DOCTYPE html>
<html lang="en">
	<%- include head %>
    <body>
		<%- include userheader %>

        <div class="content">
            <div class="left flex flex-horizontal">
				<%- include contactejs/contacte %>
            </div>

            <div class="right flex flex-horizontal">
				<%- include contactejs/formular %>
            </div>
        </div>

        <script src="js/menu.js"></script>
        <script src="js/pwa.js"></script>
        <script src="js/sweetalert.js"></script>
    </body>
</html>