<!DOCTYPE html>
<html lang="en">
		<%- include headwithol %>
    <body>
		<%- include userheader %>
        <div class="content">
            <div class="left flex flex-horizontal">
				<%- include manageroutesejs/adaugaruta %>
				<%- include manageroutesejs/modificaruta %>
				<%- include manageroutesejs/qr %>
            </div>
			<%- include manageroutesejs/hartastatii %>
        </div>
		
		<%- include manageroutesejs/scripts %>
    </body>
</html>