<!DOCTYPE html>
<html lang="en">
	<%- include head %>
    <body>
		<%- include userheader %>
        <div class="content">
            <div class="left flex flex-horizontal">
				<%- include profileejs/profil %>
            </div>
            <div class="right flex flex-horizontal">
				<%- include profileejs/formulareditare %>
            </div>
        </div>
        
		<%- include profileejs/scripts %>
    </body>
</html>