<!DOCTYPE html>
<html lang="en">
	<%- include head %>
    <body>
	<%- include userheader %>

    <div class="content">
        <div class="left flex flex-horizontal">
            <%- include ticketsejs/composteazabilet %>
			<%- include ticketsejs/cumparabilet %>
        </div>
            <div class="right flex flex-horizontal">
				<%- include ticketsejs/informatiibilete %>
            </div>
        </div>

		<%- include ticketsejs/scripts %>
    </body>
</html>