        <!--MENU-->
        <header class="header">
            <div class="logo">
                <span>AWTC</span>
                <span>Iași</span>
            </div>
            <div class="drop" id="dropDown" onclick="openDropDown()">
                <i class="material-icons">menu</i>
            </div>
            <nav class="menu" id="menu">
                <ul class="menu-list">
                    <li class="menu-item "><a href="dashboard.page">Start</a></li>
                    <li class="menu-item "><a href="tickets.page">Biletele mele</a></li>
					<% if(isAdmin == 1) {%>
						<%- include adminheader %>
					<% } %>
                    <li class="menu-item "><a href="profile.page">Contul meu</a></li>
                    <li class="menu-item "><a href="contact.page">Contact</a></li>
                    <li class="menu-item none"><a href="/users/logout">Log Out</a></li>
                </ul>
                <ul class="menu-list">
                    <li class="menu-item out"><a href="/users/logout">Log Out</a></li>
                </ul>
            </nav>
        </header>