                <div class="msform">
                    <h1>CUMPĂRĂ BILETE</h1>
                    <form class="" action="/buyTickets" method="post">
						<form action="/buyTickets" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="V3ZNG5GZYULM6">
							<table>
								<tr><td><input type="hidden" name="on0" value="Bilete">Bilete</td></tr><tr><td><select name="os0">
									<option value="1 Bilet">1 Bilet €1.00 EUR</option>
								</select> </td></tr>
							</table>
							<input type="hidden" name="currency_code" value="EUR">
							<input type="submit" class="msform-button" value="Cumpară" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
                    </form>
                </div>