                <div class="msform">
                    <h1>BILETE DISPONIBILE</h1>
                    <p><%= ejsNrBilete %> bilete disponibile</p>
                    <h1>Cel mai folosit mijloc de transport</h1>
                    <p><%= ejsRutaPopulara %></p>
                    <h1>Istoric</h1>
                    <div class="table table-tickets">
                        <table>
                            <tr>
                                <td>RUTA UTILIZATĂ</td>
                                <td>DATA</td>
                            </tr>
							<% for(var i=0; i < ejsIstoricRute.length; i++) { %>
							<tr>
								<td style><%= ejsIstoricRute[i].nume %></td>
								<td style><%= ejsIstoricRute[i].data.toLocaleString() %></td>
							</tr>
							<% } %>
                        </table>
                    </div>
                </div>