                <div class="msform">
                    <h1>Editare profil</h1>
                    <form class="" action="/users" id="PUT">
                        <div class="input-block">
                        <span>Nume</span>
                        <input type="text" class="input-text" name="firstname" value="<%= editPrenume %>" placeholder="Nume">
                        </div>

                        <div class="input-block">
                        <span>Prenume</span>
                        <input type="text" class="input-text" name="lastname" value="<%= editNume %>" placeholder="Prenume">

                        </div>

                        <div class="input-block">
                            <span>Email</span>
                            <input type="text" class="input-text" name="email" value="<%= editEmail %>" placeholder="Email">
                        </div>

                        <div class="input-block">
                            <span>Vârsta</span>
                            <input type="number" class="input-text" name="age" value="<%= editAge %>" placeholder="Vârsta">
                        </div>

                        <div class="input-block">
                            <span>Număr telefon</span>
                            <input type="text" class="input-text" name="phone" value="<%= editPhone %>" placeholder="Număr telefon">
                        </div>
                        
                        <input type="submit" class="msform-button" name="" value="Save">
                    </form>
                </div>