                <div class="msform">
                    <h1>ADAUGĂ ADMIN</h1>
                    <form class="" action="/addAdmin" id="post" method="post">
                        <select name="nivel_acces">
                            <option value="2">ȘOFER</option>
                            <option value="1">ADMINISTRATOR</option>
                        </select>
                        <input type="text" class="input-text" name="username" value="" placeholder="Username">
                        <input type="password" class="input-text" name="password" value="" placeholder="Parola">
                        <input type="text" class="input-text" name="email" value="" placeholder="Adresă e-mail">
                        <input type="text" class="input-text" name="nume" value="" placeholder="Nume">
                        <input type="text" class="input-text" name="prenume" value="" placeholder="Prenume">
                        <input type="text" class="input-text" name="varsta" value="" placeholder="Varsta">
                        <input type="text" class="input-text" name="nr_telefon" value="" placeholder="Telefon">
                        <input type="submit" class="msform-button" name="" value="Adaugă">
                    </form>
                </div>