            <div class="right flex flex-horizontal">
                <div class="msform wrapper">
                    <div class ="flex-center">
                    <div class="dropdown" id ="dropdown-type">
                        <label data-value="" id ="chart-type-label">Tip...</label>
                        <ul>
                            <li id="chart-type-clients"  onclick="makeChart('users');">Utilizatori</li>
                            <li id="chart-type-routes" onclick="makeChart('routes');">Rute</li>
                        </ul>
                    </div>

                    </div>
                <canvas id="largeChart"></canvas>
                </div>