        <script src="js/menu.js"></script>
        <script src="js/dropdown.js" charset="utf-8"></script>
        <script src="js/chart.bundle.min.js" charset="utf-8"></script>
        <script src="js/chartgenerator.js" charset="utf-8"></script>
        <script src="js/forms.js" charset="utf-8"></script>
        <script src="js/pwa.js"></script>
        <script src="js/sweetalert.js"></script>