                <div class="msform">
                    <h1>CAUTĂ TRANSPORT</h1>
                    <select id="select_rute">
                        <option></option>
                        <% for (let route of routes) { %>
                        <option data-id="<%= route.id %>"><%= route.nume %></option>
                        <% } %>
                    </select>
                </div>