                <div class="msform">
                    <h1>COMPOSTEAZĂ BILET</h1>
                    <form class="" action="/index.page" method="post">
                        <input type="submit" class="msform-button" name="" value="Compostează" id="use">
                    </form>
                </div>