
<div class="msform">
    <h1>SELECTARE STAŢIE</h1>
    <div id="largeMap"></div>
    <div class="mapDialog">
        <div>
            <span></span>
        </div>
        <div>
            <span>Autobuzul este la </span>
            <span></span>
            <span> metri.</span>
        </div>
        <div>
            <span>Estimativ, va ajunge în </span>
            <span></span>
            <span> minute.</span>
        </div>
    </div>
</div>