            <div class="right flex flex-horizontal">
                <div class="msform">
                    <h1>ADAUGAȚI STAȚIILE RUTEI</h1>
                    <div id="right" class="edit-route"></div>
                    <div class="table">
                        <table id="sort">
                            <tbody>
                                <tr>
                                    <td>ORDINE</td>
                                    <td>LONGITUDINE</td>
                                    <td>LATITUDINE</td>
                                    <td>ACTIUNE</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mapDialog hide">
                        <select>
                            <option>Selectati Optiunea</option>
                            <option value="station">Staţie</option>
                            <option value="point">Punct</option>
                        </select> 
                        <button>Şterge</button>
                        <i class="id"></i>
                    </div>
                </div>
            </div>